body{
	background: black;
	padding:0;
	margin: 0;
	text-align: center;
}

p { color: black; padding: 5px; font-style: oblique;}
#IdeaF {padding: 150px;}

#galleria{
	text-align: center;
	width: 100%;
}

.immagine{
	display: inline-block;
	width: 22%;
	margin: 10px 1%;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.preview{
	width: 100%;
}

@media (max-width: 480px) {
	.immagine{
		width: 98%;
		margin: 1%;
	}
}

@media (max-width: 720px) and (min-width: 480px){
	.immagine{
		width: 47%;
	}
}

@media (max-width: 1020px) and (min-width: 720px){
	.immagine{
		width: 30%;
	}
}

h1
{ color: white;}

h2 { color: white;
font: Roboto;}
h3 {color: blue;}
nav {
  background-color: #000; height: 52px; width: 100%; position: fixed; top: 0; left: 0;
}

nav ul {     /**non ho messo il punto in mezzo e funziona se aggiungo il punto no**/
  list-style: none; margin: 0 auto; padding: 0; width: 100%;
}

nav ul ul {
  display: none; position: absolute; top: 100%; left: 0; width: 100%;  /**aggiungendo display: none le sottocategorie sono scomparse**/
}

nav ul li {
  position: relative; float: left;width: 16.66%; text-align: center; /**ogni voce <li> prenderà il 20% del totale**/
}

nav ul li:hover ul /**cosa succede quando passiamo sopra ul li ce lo dice hover - quando passiamo sopra ul le voci li devono essere visibili**/ {
  display: block;
}

nav ul li li {
  position: relative; float: none; width: 100%; border: none;
}
nav ul li a {display: block;text-decoration: none; color: #FFF; padding: 15px 25px; font-size: 1.2em; box-sizing: border-box; border-right: solid 2px black; border-left: solid 2px black;
}

nav ul ul li a{ font-size: 1rem; border-bottom: solid 2px #000;}

nav ul ul li:first-child a{border-top: solid 2px #000;} /**first-child lavora solo su primo figlio**/

nav ul li:hover a {background-color: #FFF; color: #000; text-decoration: none; transition: 0.5s;} /**hover è chiamata pseudo classe**/

nav ul li li:hover a{background-color: #000; color: white; }
